<html>
    <head>
        <title>gossip 1</<title>
    </head>
    <body>
        <h1> Bonjour <%= gossip.author %> ! </h1>
        <h2> Voici votre potin <%= gossip.content%> </h2>
    </body>
</html>